html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.pln {
  color: #fff; }

@media screen {
  .str {
    color: #e2e064; }

  .kwd {
    color: #008; }

  .com {
    color: #800; }

  .typ {
    color: #606; }

  .lit {
    color: #066; }

  .pun, .opn, .clo {
    color: #fff; }

  .tag {
    color: #d33a74; }

  .atn {
    color: #bae600; }

  .atv {
    color: #e2e064; }

  .dec, .var {
    color: #606; }

  .fun {
    color: red; } }
@media print,projection {
  .str {
    color: #060; }

  .kwd {
    color: #006;
    font-weight: bold; }

  .com {
    color: #600;
    font-style: italic; }

  .typ {
    color: #404;
    font-weight: bold; }

  .lit {
    color: #044; }

  .pun, .opn, .clo {
    color: #440; }

  .tag {
    color: #006;
    font-weight: bold; }

  .atn {
    color: #404; }

  .atv {
    color: #060; } }
pre.prettyprint {
  padding: 2px;
  border: 1px solid #888; }

ol.linenums {
  margin-top: 0;
  margin-bottom: 0; }

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none; }
li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #eee; }

html, body {
  background: #aaa;
  font-family: Helvetica, Arial, sans-serif; }

div#container {
  background: #e1e1e1;
  color: #333;
  text-shadow: #fff 1px 1px 0;
  width: 50em;
  margin: 2em auto 0;
  padding: 1.5em;
  overflow: hidden;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 1em 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 1em 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 1em 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
div#container h1 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  border-bottom: 1px solid #666;
  margin: 0 0 .3em; }
div#container h3 {
  font-size: 1.2em;
  letter-spacing: .03em;
  color: #444; }
div#container p {
  margin: 1em 0; }
div#container code {
  margin: 1em 0;
  background: #34352d;
  padding: .6em;
  font-family: 'Anonymous Pro', 'Lucida Console', monospace;
  display: block;
  line-height: 1.2;
  font-size: .8em;
  text-shadow: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
div#container input.color-input {
  background: #fff;
  color: #333;
  border: 1px solid #aaa; }

/* These Styles Are Particular to the functioning elements in the color picker,
styles related to the page are abstracted into the includes at the top. */
div#excolor_ok {
  margin: 0;
  padding: 0;
  width: 45px;
  height: 15px;
  overflow: hidden;
  float: left;
  cursor: pointer;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #333;
  border: 1px solid #333;
  color: #fff;
  font-size: 11px;
  text-align: center;
  line-height: 1.3; }
div#excolor_ok:hover {
  background: #ccc;
  color: #333;
  text-shadow: #fff 1px 1px 0;
  border: 1px solid #333; }

div#excolor_close {
  margin: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  float: right;
  cursor: pointer;
  background: #333;
  border: 1px solid #333;
  color: #fff;
  font-size: 11px;
  text-align: center;
  line-height: 1.3;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
div#excolor_close:hover {
  background: #ccc;
  color: #333;
  text-shadow: #fff 1px 1px 0;
  border: 1px solid #333; }

div#excolor_colorpicker_wrapper {
  height: 140px;
  width: 244px;
  margin: 0;
  padding: 10px 9px 10px 10px;
  float: left;
  overflow: hidden;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #dddddd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #dddddd 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, white 0%, #dddddd 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, white 0%, #dddddd 100%);
  /* W3C */
  -moz-border-radius: 0 2px 2px 2px;
  -webkit-border-radius: 0 2px 2px 2px;
  border-radius: 0 2px 2px 2px; }

div#excolor_colorpicker {
  display: none;
  width: 263px;
  height: 160px;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 1px solid #333;
  -moz-border-radius: 0 3px 3px 3px;
  -webkit-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
  -moz-box-shadow: black 0 0 5px 0;
  -webkit-box-shadow: black 0 0 5px 0;
  box-shadow: black 0 0 5px 0; }

div#excolor_sample_wrapper {
  width: 60px;
  height: 28px;
  float: right;
  background: none;
  margin: 0;
  padding: 0;
  border: 1px solid #333;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

div#excolor_sample {
  width: 60px;
  height: 28px;
  float: left;
  padding: 0;
  margin: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

div.excolor_dataitem {
  float: left;
  padding: 3px 0 0 0;
  margin: 0;
  border: none; }
div.excolor_dataitem.first {
  padding: 6px 0 0 0; }
div.excolor_dataitem.last {
  padding: 6px 0; }

input#excolor_r, input#excolor_g, input#excolor_b, input#excolor_hex {
  line-height: 13px;
  padding: 1px 0;
  margin: 0;
  color: #333;
  border: 1px solid #aaa;
  background: #fff;
  width: 49px;
  font-size: 10px;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

b.label {
  display: inline-block;
  width: 15px;
  text-align: left;
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, Sans-serif;
  font-weight: bold;
  color: #333;
  line-height: 13px; }

div#excolor_switcher {
  border: 1px solid #aaa;
  display: none;
  padding: 0;
  margin: 0;
  font-size: 1px;
  line-height: 1px;
  width: 20px;
  height: 12px;
  background: url("../img/transp0.gif") 0 0 no-repeat;
  position: absolute;
  cursor: pointer;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

div#excolor_slider {
  display: none;
  width: 20px;
  height: 9px;
  position: absolute;
  background: url("../img/slider-arrows.png") 0 0 no-repeat;
  margin: 0;
  padding: 0;
  border: none;
  cursor: default; }

div#excolor_picker {
  display: none;
  width: 11px;
  height: 11px;
  position: absolute;
  background: url("../img/sb_sel.png") 0 0 no-repeat;
  margin: 0;
  padding: 0;
  border: none; }

div#excolor_grad_wrap {
  width: 140px;
  height: 140px;
  float: left;
  background: none;
  padding: 0;
  margin: 0;
  border: none; }

div#excolor_grad {
  width: 132px;
  height: 132px;
  padding: 3px;
  background: #fff;
  margin: 0;
  border: 1px solid #999;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px 0;
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 5px 0; }
