@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($distance, $opacity: .25) {
  -moz-box-shadow: rgba(0,0,0,$opacity) 0 0 $distance 0;
  -webkit-box-shadow: rgba(0,0,0,$opacity) 0 0 $distance 0;
  box-shadow: rgba(0,0,0,$opacity) 0 0 $distance 0;
}