@import "reset";
@import "mixins";
@import "prettify";
@import "page-styles";

/* These Styles Are Particular to the functioning elements in the color picker. */
div#excolor_ok {
  margin: 0;
  padding: 0;
  width: 45px;
  height: 15px;
  overflow: hidden;
  float: left;
  cursor: pointer;
  @include border-radius(2px);
  background: #333;
  border: 1px solid #333;
  color: #fff;
  font-size: 11px;
  text-align: center;
  line-height: 1.3;
  &:hover {
    background: #ccc;
    color: #333;
    text-shadow: #fff 1px 1px 0;
    border: 1px solid #333;
  }
}

div#excolor_close {
  margin:0;
  padding:0;
  width:15px;
  height:15px;
  float:right;
  cursor:pointer;
  background: #333;
  border: 1px solid #333;
  color: #fff;
  font-size: 11px;
  text-align: center;
  line-height: 1.3;
  @include border-radius(2px);
  &:hover {
    background: #ccc;
    color: #333;
    text-shadow: #fff 1px 1px 0;
    border: 1px solid #333;
  }
}

div#excolor_colorpicker_wrapper {
  height: 140px;
  width: 244px;
  margin: 0;
  padding: 10px 9px 10px 10px;
  float: left;
  overflow: hidden;
  background: #fff;
  @include border-radius(0 2px 2px 2px);
  @include box-shadow(5px);
}

div#excolor_colorpicker {
  display: none;
  width: 265px;
  height: 162px;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
}